export PATH=$HOME/go/bin:$PATH
export WORKSPACE=$PWD

GOMOD_VERSION=$(grep "^go [0-9]" go.mod | cut -d' ' -f2)
GOLOCAL_VERSION=$(go version | cut -d' ' -f3 | sed -En 's/go([0-9]+\.)([0-9]*)[.0-9]*/\1\2/p')

if [ "$GOLOCAL_VERSION" != "$GOMOD_VERSION" ]; then
  echo "WARNING: Your local go version '$GOLOCAL_VERSION' may be incompatible with workspace. Required go version '$GOMOD_VERSION'"
fi
